body {background-color: #ffffff;font-family: Arial, "Times New Roman";font-size: 12px;color: #000000;}img {border: none;}a:link {}a:visited {}a:hover {}a:active {}

hr {color: #cccccc;height: 1px;}

#cuerpo {height: 450px;
/*border: 1px solid;*/text-align: center;}

#pie_izq {float: left;}

#pie_der {float: right;}

#divsis {vertical-align: 75%;}

#contenedor_frm_login {width: 350px;height: 351px;/*border: 1px solid;*/margin-top: 25px;margin-left: auto;margin-right: auto;background-image: url(/images/fondo_login.png);}#mens_login {border: 0px solid;height: 40px;padding-top: 1px;}#frm_login {margin-top: 95px;/*border: 1px solid;*/}