<table>
  <tr>
    <th>Behaviors</th>
    <th></th>
  </tr>

<% form.fields_for :behaviors do |f| %>
  <% unless f.object.new_record? %>
    <tr>
      <td><%= f.object.level.name %></td>
      <td><%= f.object.required_behavior %></td>
      <td><%= link_to_remove_fields "Quitar Nivel", f %></td>
      
    </tr>
  <% end %>
  <% end %>
</table>
